<!DOCTYPE html>
<html>
  <head>
    <title>Onboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.propic = "<%= image_url("johnsmith.jpg") %>"
      window.twitter = "<%= image_url("twitter.svg") %>"
      window.insta = "<%= image_url("instagram.svg") %>"
      window.linkedin = "<%= image_url("linkedin.svg") %>"
      window.PbO = "<%= image_url("powered_by_onboard.svg") %>"

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
